
{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h1 class="mt-5">About</h1>
    <div class="row">
      <p class="lead">This website was created by Dawid Wełna as a Computational Intelligence project for University. </p>
    </div>
</div>
{% endblock %}

