
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
    
      <h1 class="display-3">Welcome to DLsystem</h1>
    
      <p>This is a starter DLsystem page. It includes Multi-layer-perceptron (MLP), Autoencoder+MLP net, SOM+MLP net.</p>
        <p>You may try what gives better results</p>
{#    <p><a href="https://github.com/sloria/cookiecutter-flask" class="btn btn-primary btn-large">Learn more &raquo;</a></p>#}
    </div>
</div><!-- /.jumbotron -->

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h2><i class="fa fa-hand-o-right"></i> MLP</h2>
      <p>A multilayer perceptron (MLP) is a class of feedforward artificial neural network.
          An MLP consists of at least three layers of nodes. Except for the input nodes, each node is a neuron that
          uses a nonlinear activation function</p>
        <p><a href="{{ url_for('deep.upload') }}" class="btn btn-outline-secondary">Take me there &raquo;</a></p>
{#      <p><a class="btn btn-outline-secondary" href="http://getbootstrap.com/">Official website &raquo;</a></p>#}
    </div>
    <div class="col-lg-4">
      <h2><i class="fa fa-hand-o-right"></i> Autoencoder+MLP</h2>
      <p>An autoencoder is a type of artificial neural network used to learn efficient data codings in an unsupervised manner.
          The aim of an autoencoder is to learn a representation (encoding) for a set of data, typically for dimensionality reduction.</p>
      <p><a href="{{ url_for('deep.simple_upload') }}" class="btn btn-outline-secondary">Take me there &raquo;</a></p>
   </div>
    <div class="col-lg-4">
      <h2><i class="fa fa-hand-o-right"></i> SOM+MLP</h2>
      <p>A self-organizing map (SOM) is a type of artificial neural network (ANN) that is trained using
          unsupervised learning to produce a low-dimensional (typically two-dimensional),
          discretized representation of the input space of the training samples, called a map,
          and is therefore a method to do dimensionality reduction.</p>
      <p><a href="{{ url_for('deep.upload') }}" class="btn btn-outline-secondary">Take me there &raquo;</a></p>
    </div>
  </div><!-- /.row -->
</div>
{% endblock %}

