{% extends "layout.html" %}


{% block scripts %}
    {{ super() }}
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="{{ url_for("static", filename="js/add_button.js") }}"></script>
{% endblock %}

{% block content %}

    <div class="jumbotron">

<div class="page-header">
<div class="row">
    <h1>The file has been loaded.</h1>
</div>
</div>
<p>


<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Unfold Dataset
</button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    {{ dataset | safe }}
  </div>
</div>

<div class="row">

</div>
    </div>
    <div class="jumbotron">
    <h1>Now let us configure the net</h1>
{#    <h2>You may choose the parameters</h2>#}
<form class="form form-horizontal" method="post" role="form">
  {{ form.hidden_tag() }}
  {{ wtf.form_errors(form, hiddens="only") }}

  {{ wtf.form_field(form.target_col) }}
  {{ wtf.form_field(form.activation_func) }}
  {{ wtf.form_field(form.test_size) }}
  {{ wtf.form_field(form.epochs) }}
  {{ wtf.form_field(form.alpha) }}
    {%  for i in range(n_layers) %}
        {{ wtf.form_field(form['layer{}'.format(i + 1)]) }}
    {% endfor %}
  {{ wtf.form_field(form.submit) }}
</form>


    </div>
            <div class="col-lg">
    <button class="btn btn-info" onclick="location.href='{{ url_for('deep.upload') }}';">
                Back to upload
    </button>
    </div>

{% endblock %}