{% extends "layout.html" %}

{% block content %}
            <div class="col-lg">
            <button class="btn btn-info" onclick="location.href='{{ url_for('deep.autoencoder') }}';">
                Reinitialize Autoencoder
            </button>
                 </div>
<div class="page-header" align="center">

            <h1 align="inline">Results</h1>

</div>
<div class="row">
    <div class="col-lg">
        <div class="jumbotron">

                {{ loss_history | safe }}
        </div>
    </div>
    <div class="col-lg">
        <div class="row">
            <div class="jumbotron">

                    <h1 align="center">Summary</h1>
                    {% for el in summary %}
                    {{ el | safe }}
                    {%  endfor %}

            </div>
        </div>
        <div class="row">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                 Encoded Dataset
            </button>
            </p>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    {{ df | safe }}
                </div>
            </div>
        </div>

    </div>
</div>


<div class="container main">
<form class="form form-vertical" method="post" role="form">
<div class="row">
<div class="container main">
    <table class="table table-bordered">
        <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Epochs</th>
            </tr>
      </thead>
          <tbody>

                    {{ form.hidden_tag() }}
                    {{ wtf.form_errors(form, hiddens="only") }}
              <tr class="bg-warning">
                  <td>{{ form.submit(class="btn btn-default") }}</td>
                  <td>{{ form.epochs(class="form-control") }}</td>
              </tr>

          </tbody>
     </table>
</div>
</div>

    <div class="row">
        <div class="container main">
            <div class="col">
            <h3>Save encoded dataset</h3>
            {{ form.file(class="btn btn-default") }}
            {{ form.save_file(class="btn btn-warning") }}

            </div>

        </div>
    </div>
            </form>
            <div class="row">
                <div class="container main">
                        <button class="btn btn-info" onclick="location.href='{{ url_for('deep.upload') }}';">
                            connect to MLP
                        </button>
                </div>
            </div>



</div>

{% endblock %}