{% extends "layout.html" %}

{% block content %}
            <div class="col-lg">
            <button class="btn btn-info" onclick="location.href='{{ url_for('deep.mlp_net') }}';">
                Reinitialize Net
            </button>
                 </div>
<div class="page-header" align="center">

            <h1 align="inline">Results</h1>

</div>
    <div class="jumbotron">
        <div class="container">
        {{ net_train | safe  }}
       </div>
        <div class="container">
        {{ net_test | safe  }}
        </div>
    </div>
    <div class="container main">
        <div class="row">
        <table class="table table-bordered">
            <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Alpha</th>
                  <th scope="col">Epochs</th>
                </tr>
          </thead>
              <tbody>
              <form class="form form-vertical" method="post" role="form">
                        {{ form.hidden_tag() }}
                        {{ wtf.form_errors(form, hiddens="only") }}
                  <tr class="bg-warning">
                      <td>{{ form.submit(class="btn btn-default") }}</td>
                      <td>{{ form.alpha(class="form-control") }}</td>
                      <td>{{ form.epochs(class="form-control") }}</td>
                  </tr>
              </form>
              </tbody>
         </table>
        </div>
    </div>
{% endblock %}