{% extends "layout.html" %}


{% block content %}

<div class="page-header" align="center">
    <h1>Hello {{ current_user.username }}!</h1>
{#    <h2>File Upload.</h2>#}
</div>


    <div class="jumbotron vertical-center">
    <div class="container">
<form class="form form-vertical" method="post" enctype="multipart/form-data" role="form">
  {{ form.hidden_tag() }}
  {{ wtf.form_errors(form, hiddens="only") }}

    <h4>Please choose proper file containing dataset.</h4>

  {{ wtf.form_field(form.file) }}
  {{ wtf.form_field(form.extension) }}
  {{ wtf.form_field(form.index_col) }}
  {{ wtf.form_field(form.header) }}

    <h2>Initial configuration of neural network.</h2>
  {{ wtf.form_field(form.n_layers) }}
  {{ wtf.form_field(form.submit) }}

</form>
        </div>
    </div>
{% endblock %}